* {
  margin: 0;
  padding:0;
  display: block;
}

ion-content.background {
  --background: url(../../assets/bg/home1.jpg) 0 0/100% 100% no-repeat;
  // --background-color: #38908F !important;
  // --background: linear-gradient(#E08963,#E08963); 
  // --backgroud: url(./../../assets/bg/home.jpg); 
  // background-size: 100% 100%;
  // --background-repeat: no-repeat;
  // --color: #fa801d5b;
  // --border:0px;
//   ion-item{
//    --background: transparent !important;
//    --color:rgb(223, 68, 7);
//    font-family: 'Athiti', sans-serif;
//  }
//  h3{
//    font-family: 'Athiti', sans-serif;
//  }
}

#container {
  text-align: center;  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
